<div class="row top-row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="panel panel-primary checkout-panel">
            <div class="panel-heading">
                <h1 class="panel-title">Checkout</h1>
            </div>
            <div class="panel-body">
                <h3>Checkout automatically as the logged in user</h3>
                <div class="text-muted">(User typically needs to enter billing and shiping info here)</div>
                <button (click)="checkout()" class="btn btn-primary">Auto-Checkout</button>
            </div>
        </div>
    </div>
</div>